@using BlazorApp6.ViewModels
@inject IItemService ItemService
<div>
    <h1> LIst of Items</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Descriptions</th>
                <th>NrOfWashes</th>
                <th>LastWash</th>
                <th>DangerousColor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ItemService.items)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Descriptions</td>
                    <td>@item.NrOfWashes</td>
                    <td>@item.LastWash</td>
                    <td>@item.DangerousColor</td>
                </tr>
            }
        </tbody>
    </table>
</div>



@code {

    private HtmlSanitizer _sanitizer = new HtmlSanitizer();
    private ItemViewModel _itemViewModel = new ItemViewModel();
    protected override async Task OnInitializedAsync()
    {
        await ItemService.GetItemsAsync();
    }
}
