@using BlazorApp6.ViewModels
@inject IItemService ItemService
@inject NavigationManager NavMeg
<div>

    <h1> LIst of Items</h1>
    <h2>Add new Item</h2>
    <button class="button" @onclick="AddIt">
        <h3>Create</h3>
    </button>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Descriptions</th>
                <th>NrOfWashes</th>
                <th>LastWash</th>
                <th>DangerousColor</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ItemService.items)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Descriptions</td>
                    <td>@item.NrOfWashes</td>
                    <td>@item.LastWash</td>
                    <td>@item.DangerousColor</td>
                    <td>
                        <button class="button" @onclick="(() => Modif(item.Iditem))">
                            <h3>modify</h3>
                        </button>
                    </td>
                    <th>
                        <button class="button" @onclick="(() => Del(item.Iditem))">
                            <h3>del</h3>
                        </button>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>



@code {
    private ItemViewModel _itemViewModel = new ItemViewModel();
    protected override async Task OnInitializedAsync()
    {
        await ItemService.GetItemsAsync();
    }
    void Modif (int Id)
    {
        NavMeg.NavigateTo($"itemMod/{Id}");
    }
    void Del(int ID)
    {
        ItemService.DeleteItemAsync(ID);
    }
    void AddIt()
    {
        NavMeg.NavigateTo($"itemMod");
    }
}
